@import 'nav';

header {
  width: 100vw;

  button {
      display:  none;
  }

  .headerInfo {
      height: 4vh;
      width: 100vw;
      display: flex;
      justify-content: flex-end;
      background-color: $secondary;

      menu {
          display: flex;
          list-style-type: none;
          margin: auto 1rem;
          gap: 1rem;

          li {

            height: 1rem;

            img {
              width: 16px;
              height: 16px;
            }
          }
      }
  }
}
