nav {
  display: flex;
  justify-content: flex-end;
  background-color: $secondary-light;
  position: relative;
  height: 10vh;
  width: 100vw;


  .logo {
    position: absolute;
    left: $margin-mobile;
}

  button {
    background-color: transparent;
    border: none;
  }
}


.burger {
display: flex;
flex-direction: column;
margin: auto $margin-mobile;
z-index: 10;
padding-top: 4vh;

  span {
    margin: 2px 0;
    border: 2px solid $secondary;
    border-radius: 2px;
    width: 1.5rem;
    z-index: 10;
  }

  &.active {

    .burgerLine1 {
      transform: rotate(45deg) translate(6px, 6px);
    }
    .burgerLine2 {
      transform: translate-x(400px);
      opacity: 0;
      transition-property: transform;
      transition: all ease 0.5s;
    }
    .burgerLine3 {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}

.navigation__list {
    display: none;
    transform: translateX(400px);
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: $white;
    transition: transform 1s;
    z-index: 3;
    list-style: none;

  &.active {
    display: block;
    transform: translateX(0px);
    transition: transform 1s;
  }

  @include lg {
    height: 100%;
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin: 0 30px;
  }

  li a {
      text-decoration: none;
      font-family: arial;
      color: $secondary;

      &:hover {
          color: $primary;
      }
  }
}