nav {
  display: flex;
  justify-content: flex-end;
  background-color: $secondary-light;
  position: relative;
  height: 6vh;
  width: 100%;


  .logo {
    position: absolute;
    left: $margin-mobile;
}

  button {
    background-color: transparent;
    border: none;
  }
}

.navigation__list {
    display: none;
    transform: translateX(110%);
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    max-width: 400px;
    height: 100vh;
    transition: transform 1s;
    z-index: 3;
    list-style: none;
    flex-flow: column nowrap;

  &.active {
    display: block;
    transform: translateX(0);
    transition: transform 1.8s ease-in-out;
    backdrop-filter: blur(6px) grayscale(.6);
    background-color: rgba(128, 133, 129, 0.7);
    z-index: 99;
    overflow: hidden;
    position: fixed;
    padding: $margin-mobile;

      li {
        padding: $space;

        a {
          color: $white;
          font-weight: bold;
          font-size: $space-m
        }
      }
  }

  @include lg {
    display: flex;
    transform: translateX(0);
    flex-direction: row;
    justify-content: flex-end;
    gap: $space-lg;
    align-items: center;
    height: 100%;
    margin: auto $margin-desktop;
    width: 100%;
  }

  > ul {
    list-style: none;
    margin: 80px;

    li {
        margin: $space-m 0;
      }
  }

  li a {
      text-decoration: none;
      font-family: arial;
      color: $secondary;
      cursor: pointer;

      &:hover {

        @include lg {
          color: $primary;
          padding-bottom: 2vh;
          border-bottom: 2px solid $primary;
        }
      }
  }
}

