div.contentBox
  img(src=require('../images/jpg/placeholder.png'), alt='Produktbild')
  h4 Dies ist eine Überschrift
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium iusto voluptatibus possimus nostrum et consequatur dolor voluptatem iure eum, saepe cupiditate dolorum, alias a ea facilis recusandae aperiam quas molestias.
  button.actionButton Klick