footer
    section
    ul
        li
            a(href='#') Impressum
        li
            a(href='#') Datenschutz
        li
            a(href='#') AGB
        li
            a(href='#') Hilfe
        li
            a(href='#') Jobs
    p © All Right Reserved — Seite, 2022