form(action="action.php").formContainer
  ul
    li
      div.radio
        input(type="radio" id="herr" name="anrede" value="Herr" checked).input__radio
        label(for="herr") Herr
      div.radio
        input(type="radio" id="frau" name="anrede" value="Frau" ).input__radio
        label(for="frau") Frau
      div.radio
        input(type="radio" id="none" name="anrede" value="none" ).input__radio
        label(for="none") Keine Angabe
    li.wrap
      label(for="Vorname") Vorname
      input(input type="text" name="Vorname" size="25" maxlength="255" value="" placeholder="Vorname")
    li.wrap
      label(for="Vorname") Nachname
      input(input type="text" name="Nachname" size="25" maxlength="255" value="" placeholder="Nachname")
    li.wrap
      label(for="email") Email
      input(type="email" name="email*" size="25" maxlength="255" value="" placeholder="email" multiple required)
    li.wrap
      label(for="tel") Telefonnummer
      input(type="tel" name="tel*" id="tel" size="25" maxlength="100" value="" required)
    li.wrap
      label(for="textarea") Persönliche Nachricht
      textarea(name="", cols="25", rows="4")
    li
      label(for="Newsletter") Newsletter abbonieren?
      input(type="checkbox" name="newsletter" id="newsletter")
    li
      label(for="AGB") AGB gelesen und akzeptiert
      input(type="checkbox" name="AGB" id="AGB")
    li.buttonBox
      input(type="button", value="click", class="actionButton").button
      input(type="reset" value="reset", class="actionButton").button
