ul(aria-label='Soziale Netzwerke').socialIcons
  li.social1
    a(href='')
      img(src=require('../images/svg/facebook.svg'), alt='facebook logo')
  li.social2
    a(href='')
      img(src=require('../images/svg/linkedIn.svg'), alt='linkedIn logo')
  li.social3
    a(href='')
      img(src=require('../images/svg/instagram.svg'), alt='instagram logo')