button,
input[type=button],
input[type=reset] {
  &.actionButton {
    background-color: $highlight;
    border: none;
    color: $primary;
    padding: $space-xs $space-s;
    min-width: $space-xxl;
    font-size: $text;
    border-radius: 30px;

    &:hover {
      background-color: $highlight-light;
    }
  }
}