$primary: #728C8A;
$secondary: #34403F;
$background: #F2F1DF ;
$highlight: #733B0A ;
$highlight-light: #BF947A;

$dark-text: #34403F ;
$light-text: #F2F1DF ;
$headline: #733B0A ;
$aside: #728C8A ;

$white: #fafaf2;
$black: #1e2424;



/* Signal Colors */

$color-success: #88c459;
$color-error: #f5414f;
$color-warning: #ffd137;


