$primary: #dce2e2;
$secondary: #34403F;
$secondary-light: #728C8A;
$background: #f2d4c1 ;
$highlight: #7b2308 ;
$highlight-light: #aa3e1d;

$dark-text: #1a2020 ;
$text-color: #4a504f;
$light-text: #ebeff0 ;
$headline: #7b2308 ;
$aside: #728C8A ;

$white: #fffdfb;
$black: #1e2424;



/* Signal Colors */

$color-success: #88c459;
$color-error: #f5414f;
$color-warning: #ffd137;


