$primary: #dce2e2;
$secondary: #34403F;
$secondary-light: #728C8A;
$background: #f2d4c1 ;
$highlight: #733B0A ;
$highlight-light: #BF947A;

$dark-text: #1a2020 ;
$text: #4a504f;
$light-text: #F2F1DF ;
$headline: #733B0A ;
$aside: #728C8A ;

$white: #fffdfb;
$black: #1e2424;



/* Signal Colors */

$color-success: #88c459;
$color-error: #f5414f;
$color-warning: #ffd137;


