


$headline: arial;

h1 {
    font-family: $headline;
    font-size: 4rem;
    color: $white;
}

h2 {
    font-family: $headline;
    font-size: $space-lg;
    color: $white;
}

h3 {
    font-family: $headline;
    font-size: $space-m;
    color: $dark-text;
}

h4 {
    font-family: $headline;
    font-style: bold;
    font-size: $space;
    color: $text;
}

p {
    font-family: $headline;
    font-size: $space;
    color: $text;
}

button {
    font-family: $headline;
    font-size: $space;
}