@import '../components/imagescroller';



main {
    background-color: $white;

    section {
 //       width: 80vw;
 //       min-height: 40vh;
        background-color: $primary;
        margin: auto;
        padding: 20px 0;
    }
}

img {
    width: 40vw;
}

h3, h4, p, button {
  margin: $margin-mobile;
  @include xl {
    margin-left: 10%;
    margin-right: 10%;
  }
}